
<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
      <div class="restaurant">
    <%= link_to restaurant_path(restaurant) do %>
        <%= image_tag restaurant.photo, class: "avatar-xxl" %>
        <h5 class="text-center"><%= restaurant.name %></h5>
    <% end %>
      </div>
  <% end %>
</div>

